<div class="container">
  <h1>{{ title }}</h1>

  <div class="notification" *ngIf="notification">
    <div class="message" id="notificationMessage">
      {{notification}}
    </div>
    <button class="close" (click)="handleRemoveNotification()">
      x
    </button>
  </div>

  <mat-card>
    <form [formGroup]="myForm" (submit)="placeRobot(myForm)" class="initial-command">
      <mat-form-field>
        <mat-label>X Coordinate</mat-label>
        <input matInput type="number" id="xCoordinate" formControlName="xCoordinate" min="0" max="4" required>
        <mat-error *ngIf="xCoordinate.touched && (xCoordinate.errors?.required || xCoordinate.errors?.pattern)">
          xCoordinate must be between 0 and 4, and a whole number.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Y Coordinate</mat-label>
        <input matInput type="number" id="yCoordinate" formControlName="yCoordinate" min="0" max="4" required>
        <mat-error *ngIf="yCoordinate.touched && (yCoordinate.errors?.required || yCoordinate.errors?.pattern)">
          yCoordinate must be between 0 and 4, and a whole number.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Facing</mat-label>
        <mat-select formControlName="facing" id="currentFacing" required>
          <mat-option *ngFor="let option of metaDirection" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button id="placeButton" color="primary" [disabled]="myForm.invalid">PLACE</button>
    </form>
  </mat-card>

  <app-board [board]="board" [robotState]="robotState"></app-board>

  <div class="control-button-group">
    <div class="control-button-move">
      <button id="moveButton" (click)="handleMove()" mat-raised-button color="primary"
        [disabled]="!robotState.robotLocation.length">MOVE</button>
    </div>
    <div class="control-button-left">
      <button id="leftButton" (click)="handleRotate($event,'left')" mat-raised-button color="primary"
        [disabled]="!robotState.robotLocation.length">LEFT</button>
    </div>
    <div class="control-button-right">
      <button id="rightButton" (click)="handleRotate($event,'right')" mat-raised-button color="primary"
        [disabled]="!robotState.robotLocation.length">RIGHT</button>
    </div>
    <div class="control-button-report">
      <button id="reportButton" (click)="handleShowReport()" mat-raised-button color="primary"
        [disabled]="!robotState.robotLocation.length">REPORT</button>
    </div>
  </div>

  <app-log [logs]="logs"></app-log>
</div>
